@charset "utf-8";

body{
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section {
    width: 100%;
    height: 95vh;
    background-image: url("images/jez-timms-BkenM2pFeps-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.logo {
    color: #000;
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
}
nav {
    float: right;
    /* margin-right: 80px; */
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 30px;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover
 {
    background: grey;
    color: #fff;
    transition: .5s;
    border-radius: 10px;
    margin-right: 5px;
}
/* 
nav ul {
    display: flex;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.logo {
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
} */
#check {
    display: none;
}
.checkbtn {
    font-size: 30px;
    color: black;
    float: rightb;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.text-container p:nth-child(2){
    font-family: myriad pro regular;
    font-weight: bold;
    letter-spacing: 1px;
    color: #403e3e;
    font-size: 40px;
}
.text-container p:nth-child(3) {
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p:nth-child(1) {
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn {
    border: 2PX solid #373636;
    color: #373636;
}
.down-cv {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}
button:active{
    transform: scale(1.1);
}
.model {
    height: 540px;
    width: 700px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translateX(-70%);
    margin-left: 150px;
    border-style: none;
    border-radius: 50%;
    margin-bottom: 50px;
}
.about-container{
    width: 60%;
    height: 370px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    /* margin: -7% auto 20px auto; */
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}
.about-container img{
    width: 300px;
    height: 300px;
    margin-left: -20px;
    border-radius: 10px;
    margin-right: 10px;
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 25px;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 20px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
   color: #7e7d7d;
   font-family: calibri;
   font-size: 20px;
}
.about-text button{
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: calibri;
    background-color: black;
    border-radius: 10px;
}
.services{
    height: 600px;
    background-color: #ffffff;
    padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 20px;
    line-height: 0px;
}
.services-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #7e7d7d; 
    font-size: 15px ;
}
.services-text{
    width: 500px;
    margin: 50px 0px;
}
ol {
    list-style: disc;
    color: #7e7d7d;
}
.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1 {
    background-image: url(images/david-cadenas-fG7Vvo-0vxw-unsplash.jpg);
    background-size: cover;
}
.box-2 {
    background-image: url(images/fly-d-Fj32uYD9tOU-unsplash.jpg);
}
.box-3 {
    background-image: url(images/hamza-nouasria-bojb7QGMjQU-unsplash.jpg);
}
.box-1 span,
.box-2 span,
.box-3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-family: chiller;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: #FFFFFF;
    font-family: calibri;
    font-size: 23px;
    line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: calibri;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}
.contact-me{
    width: 100%;
    height: 280px;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-me p{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}
.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: calibri;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    color: #191919;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.copyright{
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.social-icons i{
    color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}
.a-social-b{
   position: fixed; 
   top: 50%;
   right: 0px;
   transform: translateY(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}
.project-container img{
    width: 45%;
    margin-left: 30px;
}
.project-container p:nth-child(1){
    font-family: myriad pro regular;
    font-weight: bold;
    letter-spacing: 1px;
    color: #403e3e;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
.project-container p:nth-child(2){
    font-family: myriad pro regular;
    font-weight: bold;
    color: #403e3e;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: underline;
}
 .skill-section {
    background: #e3edf7;
    display: flex;
    height: 200px;
}
/* .skill {
    width: 160px;
    height: 160px;
     background-color: cornflowerblue; 
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;   
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px  rgba(0,0,0,0.15),
                -6px -6px 10px -1px  rgba(255,255,255,0.7);
}
.inner {
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px  rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px  rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.5);
} 
#number {
    font-weight: 600;
    color: #555;
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
svg {
    position: absolute;
    top: 300;
    left: 6.75%;
}  */
/* @keyframes anim {
    100%{
        stroke-dashoffset: 165;
    }
} 
.skill2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
.box2{
    position: relative;
    height: 350px;
    width: 250px;
    background: #222;
    border-radius: 5px;
}
.box2 .shadow {
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgba(0,0,0,0.3);
}
.box2 svg{
    position: absolute;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.box2 svg circle {
    fill: transparent;
    stroke: #007eff;
    stroke-width: 10;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;
    animation: stroke 13.5s steps(500) forwards;
}
.box2 .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 50px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}
.box2 .counter span{
    font-size: 28px;
    line-height: 50px;
    font-weight: bold;
}
.box2 .counter span:after {
    content: "0%\A 1%\A 2%\A 3%\A 4%\A 5%\A 6%\A 7%\A 8%\A 9%\A 10%\A 11%\A 12%\A 13%\A 14%\A 15%\A 16%\A 17%\A 18%\A 19%\A 20%\A 21%\A 22%\A 23%\A 24%\A 25%\A 26%\A 27%\A 28%\A 29%\A 30%\A 31%\A 32%\A 33%\A 34%\A 35%\A 36%\A 37%\A 38%\A 39%\A 40%\A 41%\A 42%\A 43%\A 44%\A 45%\A 46%\A 47%\A 48%\A 49%\A 50%\A 51%\A 52%\A 53%\A 54%\A 55%\A 56%\A 57%\A 58%\A 59%\A 60%\A 61%\A 62%\A 63%\A 64%\A 65%\A 66%\A 67%\A 68%\A 69%\A 70%\A 71%\A 72%\A 73%\A 74%\A 75%\A 76%\A 77%\A 78%\A 79%\A 80%\A 81%\A 82%\A 83%\A 84%\A 85%\A 86%\A 87%\A 88%\A 89%\A 90%\A 91%\A 92%\A 93%\A 94%\A 95%\A 96%\A 97%\A 98%\A 99%\A 100%"; 
    position: absolute;
    white-space: pre;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 10s steps(100) forwards;
}
h2{
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15%;
    letter-spacing: 1px;
}
@keyframes animate {
    0%{
        top: 0%;
    }
    100%{
        top: -5000px;
    }
}
@keyframes stroke {
    100%{
        stroke-dashoffset: 0;
    }
} */
.skills3 {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2 20px 25px rgba(58,55,55,0.2);
    margin-top: 10px;
    margin-left: 10px;
}
@keyframes load{
    from{
        width: 0%;
    }
}
@-webkit-keyframes load {
    from {
        width: 0%;
    }
}
@-moz-keyframes load{
    from{
        width: 0%;
    }
}
@-o-keyframes load {
    from {
        width: 0%;
    }
}
.skills3 h1 {
    text-align: center;
    margin-bottom: 10px;
}
.boxx {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: myriad regular pro;
}
.boxx li h5{
    margin-bottom: 10px;
}
.bar{
    height: 18px;
    background-color: #eee;
    margin-bottom: 15px;
    border-radius: 15px;
}
.bar::before {
    content: "";
    background-color: #ae00ff;
    display: inline-block;
    padding: 8px;
    border-radius: inherit;
    animation: load 3s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;
    -o-animation: load 3s 0s;
}
.bar.bar1::before{
    width: calc(95% - 10px);
}
.bar.bar2::before{
    width: calc(85% - 10px);
}
.bar.bar3::before{
    width: calc(35% - 10px);
}
.bar.bar4::before{
    width: calc(40% - 10px);
}
@media (max-width: 980px){
    section {
        height: 90vh;
    }
    
    .logo {
        margin-left: -20px;
        font-size: 20px;
        font-family: RoadTest;
        color: #000000;
        font-size: 25px;
        
    }
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor:  pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
        margin-left: -10px;
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    nav {
        display: none;
        background: black;
    }
    nav.active {
        display: block;
        width: 100%;
        height: 50vh; 
    }
    nav.active ul {
        display: block;
    }
    nav.active ul li a{
        margin: 0;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        margin: 40px;
    }
    
    /* nav ul li{
        display: inline;
        margin: 0 5px;
    }
    nav ul li a{
        margin: 10px;
        font-family: myriad pro regular;
        color: #505050;
        font-size: 15px;
        font-weight: 700;
    } */
    .model{
        height: 200px;
        width: 200px;
        position: absolute;
        bottom: 35px;
        transform: translateX(-70%); 
        margin-left: -90px;
        border-style: none;
        border-radius: 50%;
        margin: 0.3px;
        margin-bottom: 15px;
    }
    .text-container p:nth-child(2){
        font-family: myriad pro regular;
        font-weight: bold;
        letter-spacing: 1px;
        color: #403e3e;
        font-size: 30px;
        line-height: 20px;
    }
    .text-container p:nth-child(3){
        font-size: 30px;
        line-height: 30px;
    }
    .text-container p{
        line-height: 0px;
        margin: 30px 0px 25px;
    }
    .text-container button {
        width: 130px;
        height: 42px;
        border-radius: 10px;
        font-family: calibri;
        font-weight: bold;
        font-size: 14px;
        outline: none;
        margin: 25px 10px;
    }
    .about-container{
        width: 100%;
        height: 560px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
        /* display: flex; */ 
         /* margin: -7% auto 20px auto; */ 
        position: relative; 
        margin-left: 5px;
        padding: 0;
    }
    .about-text{
        margin-top: -90px;
        margin-left: 5px;
        font-size: 20px;
    }
    .about-text p:nth-child(3),
    .about-text p:nth-child(4){
       color: #7e7d7d;
       font-family: calibri;
       font-size: 23 px;
    }
    .about-text button{
        width: 120px;
        height: 40px;
        margin-bottom: -20px;
    }
    .about-container img {
        width: 100px;
        float: right;
        display: none;
    }
    .services-text{
        padding: 0;
        margin-top: 30px;
        margin-left: -39px;
    }
    .services-text p:nth-child(2){
        display: none;
    }
    .box-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .services {
        height: 1210px;
    }
    .box-1,.box-2,.box-3{
        margin-top: 8px;
        margin-left: 25pxpx;
    }
    .a-social-b {
        display: none;
    }
    footer {
        height: 250px;
    }
    .about-text button{
        align-items: center;
        margin-left: 50px;
        margin-top: -30px;
    }
    .copyright{
        color: #565555;
        font-size: 15px;
        position: relative;
        left: 50%; 
        transform: translateX(-50%); 
    }
    .social-icons a {
        margin: 3px;
        margin-top: -10px;
    }
    footer p:nth-child(2){
        font-size: 16px;
        color: #7e7d7d;
        width: 100%;
        text-align: center;
        margin-top: -20px;
    }
    .text-container{
        position: absolute;
        left: 13%;
        top: 32%;
        transform: translate(-13%,-42%);
    }
    .project-container img{
        width: 95%;
        margin-left: 8px;
    }
    .project-container p:nth-child(1){
        font-size: 30px;
    }
    .project-container p:nth-child(2){
        font-size: 25px;
    }
    .skill-level {
        display: grid;
        grid-template-columns: 1fr;
        height: 1200px;
        margin-left: 30px;
    }
    .skills3 {
        width: 90%;
        margin-left: -30px;
        margin-top: 10px;
    }
}
